body {
  background-color: rgb(53, 53, 53);
}
p {
  color: #b60000;
  font-size: 20px;
}
h1 {
  font-size: 100px;
}
p {
  font-size: 20px;
  font-family: "Teko", sans-serif;
}
#tesla-ModelS {
  background-color: rgb(148, 148, 148);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

li {
  float: left;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ddd;
}

li a.active {
  color: white;
  background-color: #04aa6d;
}

table {
  border-style: solid;
  border-top-color: coral;
}
